<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/fib?n=10">输出10：/fib?n=10</a><br/>
    <a href="/fib?n=111">输出111：/fib?n=111</a><br/>
    <a href="/fib?n=good">输出good：/fib?n=good</a>

    <p>测试修改页面样式分支</p>
    <p>样式修改完成</p>
  </body>
</html>
